body{
  background-color: black;
}

canvas{
  display: block;
  margin:0 auto;
}

#scoreBox{
  font-size: 16px;
  text-align: center;
  color: white;
    margin-top: 1.6em;
}

#score{
  display: inline-block;
}
